





<li>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Relatórios
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li role="presentation" class="dropdown-header">Informações Diárias</li>


        <li>@Html.ActionLink("Contratos", "Index", "Contrato")</li>

        <li>@Html.ActionLink("Entregas Previstas", "Index", "Zmep")</li>

        <li>@Html.ActionLink("Estoque e Consumo", "Index", "EstoqueConsumo")</li>

        <li>@Html.ActionLink("Mini Impaq", "Index", "MiniImpaq")</li>

        <li role="presentation" class="divider"></li>

        <li role="presentation" class="dropdown-header">Informações Históricas</li>

        <li>@Html.ActionLink("CPMs", "Index", "HistConsumo")</li>

        <li>@Html.ActionLink("Histórico de Estoque", "Index", "EstoqueHistorico")</li>

        <li role="presentation" class="divider"></li>


        <li role="presentation" class="dropdown-header">Previsões de Consumo</li>

        <li>@Html.ActionLink("PLM", "Index", "PlmMensalizado")</li>

        <li>@Html.ActionLink("Appia", "Index", "Appia")</li>

    </ul>
</li>



@*<li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Logistics KPI
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("1st Quarter", "PLM", "Previsoes")</li>
            <li>@Html.ActionLink("2nd Quarter", "PLM", "Previsoes")</li>
            <li>@Html.ActionLink("3rd Quarter", "PLM", "Previsoes")</li>
            <li>@Html.ActionLink("4th Quarter", "PLM", "Previsoes")</li>

        </ul>
    </li>
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Ferramentas
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Análise de Materiais", "FrmAnalise", "Ferramenta")</li>
            <li>@Html.ActionLink("Ressuprimento", "FrmRessuprimento", "Ferramenta")</li>

        </ul>
    </li>*@





