

        <li>@Html.ActionLink("Home", "Index", "Home")</li>

        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Appia
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
             
                <li>@Html.ActionLink("Consultar", "EsotqueConsumo", "InfoAtual")</li>
                <li>@Html.ActionLink("Carregar", "FrmZmep", "InfoAtual")</li>
                
             </ul>
        </li>


        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                PLM
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Consultar", "PLM", "Previsoes")</li>
                <li>@Html.ActionLink("Carregar", "PLM", "Previsoes")</li>
                
            </ul>
        </li>
     


