@using SARCEM_TCC.web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Entrar no Sistema";
}

<style>
    .jumbotron {
        min-height:200px;
        max-height: 600px;
    }

    .jumbotron p{
        font-size:14px;
    }

    a:hover, a:focus {
        color: rgba(255, 188, 89, 1);
        text-decoration: none;
    }

</style>

<h2>@ViewBag.Title.</h2>
<div class="row">
    @*<div class="col-md-8">*@
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Caso você ainda não tenha um login, Registre-se.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="center-block">
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserBr, new { @class = "col-md-2 control-label" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.UserBr, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserBr, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-4">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>*@
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Deseja se registrar?", "Register")
                    </p>
                    @*<p>
                        @Html.ActionLink("Esqueceu a senha?", "ForgotPassword")
                    </p>*@

                </div>
            }
        </section>
    @*</div>*@
    @*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new SARCEM_TCC.web.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}